<h1>Ideas</h1>
<% if flash[:msg] %>
    <span class="flash-msg"><%= flash[:msg] %></span>
<% end %>
<p>
    These ideas have been made available by other registered users. Visit an idea to see associated projects.
</p>
<ul>
    <% Idea.all.each do |idea| %>
        <% if idea.is_private == false %>
            <li><a href="/ideas/<%= idea.id %>"><%= idea.name %></a>: <%= idea.description %></li>
        <% end %>
    <% end %>
</ul>