<form method="POST" action="/ideas">
    <div class="credential-forms">
        <h2>Create a new idea</h2>
        <p>
            <label for="idea_name">Name: </label><br/>
            <input type="text" id="idea_name" name="idea[name]" class="create-item-input">
        </p>
        <p>
            <label for="idea_description">Description: </label><br/>
            <textarea id="idea_description" name="idea[description]" class="create-item-textarea"></textarea>
        </p>
        <p>
            <input type="checkbox" id="is_private" name="idea[is_private]">
            <label for="is_private">Private</label>
        </p>
        <input type="submit" value="Create Idea" class="input-submit">
    </div>
</form>