html {
    background: url('../images/hemisferic-valencia-es-2017.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;

  }

body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    opacity: 0.75;
}

#account-header {
    width: 100%;
    text-align: right;
    margin: 0 0 5px 0;
    padding: 0;
    height: 1.5em;
}

#account-header > p {
    padding: 0;
    margin: 0;
}

#app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.subheader-contains-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.subheader-contains-button > .subheader-contains-button-child {
    margin-left: 2em;
}

.hero-header {
    font-size: 1.75em;
    margin: 0;
    font-weight: 700;
    color: #db5a6b;
    text-shadow: 2px 2px silver;
}

#app-content {
    width: 98vw;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#app-content > div {
    width: 75vw;
    background-color: white; 
    opacity: 0.75;
    color: rgb(105,105,105);
    padding: 2em; 
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
}

footer {
    font-size: 0.75em;
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    opacity: 0.75;
}

.nav-submit {
    border: 1px solid grey; 
    padding: 0.5em; 
    background-color: white;
    border-radius: .25em;
    width: 7em;
}

.nav-submit:hover {
    background-color: grey;
}

.input-submit {
    border: 1px solid grey; 
    padding: 0.5em; 
    background-color: white;
    border-radius: .25em;
}

.input-submit:hover {
    background-color: grey;
}

.credential-forms {
    width: 25vw; 
    margin: 0 auto;
    text-align: left; 
    background-color: white; 
    opacity: 0.75;
    color: rgb(105,105,105);
}

.cols {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.cols > div {
    padding: 5px 20px;
    border: 1px solid black;
    width: 25vw;
}

.flash-msg {
    color: red;
    font-weight: bold;
}

.private-notification {
    color: #8f6976;
    font-style: italic;
}

a {
    color: #008080;
}

a:hover {
    color: #8f6976;
}

a:visited {
    color: #96b2a8;
}

.main-display {
    display: flex;
    flex-flow: row nowrap;
}

.category-display {
    display: flex;
    flex-flow: row wrap;
}

.main-display > div, .category-display > div {
    border: 1px solid silver;
    width: 33%;
    margin: 5px;
    padding: 5px;
}

.main-display > div > p, .category-display > div > p {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.create-item-textarea {
    width: 30em;
    height: 9em;
    resize: none;
    font-family: 'Open Sans', sans-serif;
}

.create-item-input {
    width: 30em;
}

.required-value {
    color: red;
    font-weight: bold;
}