html {
    background: url('../images/hemisferic-valencia-es-2017.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;

  }

body {
    margin: 0;
    padding: 0;
}

main {
    max-width: 100vw;
    display: flex;
    flex-flow: row wrap;
}

header {
    width: 100%;
    height: 10vh;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    opacity: 0.75;
}

#account-header {
    width: 100%;
    text-align: right;
    margin: 0 0 5px 0;
    padding: 0;
    height: 1.5em;
}

#account-header > p {
    padding: 0;
    margin: 0;
}

#app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.hero-header {
    font-size: 1.75em;
    margin: 0;
    font-weight: 700;
}

#app-content {
    width: 80%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #95edd7;
    text-shadow: 2px 2px grey;
    font-size: 1.25em;
}

footer {
    font-size: 0.75em;
    width: 100%;
    height: 5vh;
    margin: 0;
    padding: 0 10px;
    background-color: white;
    opacity: 0.75;
}

.nav-submit {
    border: 1px solid grey; 
    padding: 0.5em; 
    background-color: white;
    border-radius: .25em;
    width: 7em;
}

.nav-submit:hover {
    background-color: grey;
}

.input-submit {
    border: 1px solid grey; 
    padding: 0.5em; 
    background-color: white;
    border-radius: .25em;
    width: 7em;
}

.input-submit:hover {
    background-color: grey;
}

.credential-forms {
    width: 25vw; 
    margin: 0 auto;
    margin-top: 15px;
    padding: 1em; 
    text-align: left; 
    background-color: white; 
    opacity: 0.75;
    color: rgb(105,105,105);
}

.text-no-shadow {
    text-shadow: none;
}