html {
    background: url('../images/hemisferic-valencia-es-2017.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 100vw;
}

main {
    margin: 0 auto;
    max-width: 55%;
    text-align: center;
    overflow: auto;
}

footer {
    font-size: 0.75em;
}