<p>Please log in to your account.</p>
<form method="POST" action="/login">
    <div style="width: 15vw; margin: 0 auto; padding: 2em; text-align: left; background-color: white; opacity: 0.75">
        <p>
            <label for="email">Email: </label><br/>
            <input type="email" id="email" name="email">
        </p>
        <p>
            <label for="password">Password: </label><br/>
            <input type="password" id="password" name="password">
        </p>
        <input type="submit" value="Submit"  style="border: none; padding: 0.5em; background-color: grey; opacity: 1;">
    </div>
</form>