<form method="POST" action="/login">
    <div class="credential-forms text-no-shadow">
        <p>
            <% if flash[:msg] %>
                <%= flash[:msg] %>
            <% else %>
                Please log in to your account.
            <% end %>
        </p>
        <p>
            <label for="email">Email: </label><br/>
            <input type="email" id="email" name="email" required>
        </p>
        <p>
            <label for="password">Password: </label><br/>
            <input type="password" id="password" name="password" required>
        </p>
        <input type="submit" value="Submit" class="input-submit">
    </div>
</form>