<form method="POST" action="/login">
    <div class="credential-forms">
        <p>
            <% if flash[:msg] %>
                <span class="flash-msg"><%= flash[:msg] %></span><br/>
            <% end %>
            Please log in to your account.<br/>
            <span class="required-value">* indicates required fields</span>
        </p>
        <p>
            <label for="email">Email: </label><span class="required-value">*</span><br/>
            <input type="email" id="email" name="email" required>
        </p>
        <p>
            <label for="password">Password: </label><span class="required-value">*</span><br/>
            <input type="password" id="password" name="password" required>
        </p>
        <input type="submit" value="Submit" class="input-submit">
    </div>
</form>