<div>
    <p>
        <% if flash[:msg] %>
            <span class="flash-msg"><%= flash[:msg] %></span>
        <% end %>
        <h2>Your current pool</h2>
    </p>
</div>
<div class="cols">
    <div>
        <h2>Ideas</h2>
        <p>
            <% if @user.ideas.count == 0 %>
                You don't have any ideas entered yet.
            <% else %>
                <%= @user.ideas.first.name %>
            <% end %>
        </p>
    </div>
    <div>
        <h2>Projects</h2>
        <p>
            <% if @user.projects.count == 0 %>
                You don't have any projects entered yet.
            <% else %>
                <%= @user.projects.first.name %>
            <% end %>
        </p>
    </div>
</div>
