<form method="POST" action="/signup">
    <p>
        <label for="email">Email: </label>
        <input type="email" id="email" name="email">
    </p>
    <input type="submit" value="Create User">
</form>