<h1>Projects</h1>
<% if flash[:msg] %>
    <span class="flash-msg"><%= flash[:msg] %></span>
<% end %>
<p>
    Public projects based on saved and submitted ideas. Visit a project to see details.
</p>
<div class="category-display">
    <% Project.all.sort_by{|project| project.name}.each do |project| %>
        <% if project.is_private == false || (project.is_private == true && Helpers.is_logged_in?(session) && Helpers.current_user(session) == project.user) %>
            <div>
                <h4>
                    <a href="/projects/<%= project.id %>"><%= project.name %></a> <% if project.is_private == true %>(<em>private</em>)<% end %>
                </h4>
                <p><%= project.description %></p>
            </div>
        <% end %>
    <% end %>
</div>