<p>
    <% if flash[:msg] %>
        <span class="flash-msg"><%= flash[:msg] %></span>
    <% end %>
</p>
<p>
    As developers of all experience levels, we have all dealt with a "blank page" problem. You know the one - you need an idea for your project, or a hackathon, or a side project so you can practice your skill with a new language. You need one, but you just can't think of one!
</p>
<p>
    Idea Pool is your resource for ideas - your own or those others have shared. You can use this as a storage location for your own ideas, browse projects based on your own or others' ideas, or grab a shared idea for your own use.
</p>
<p>
    While users are certainly free to add to-do lists, tic-tac-toe, and other "first project" type ideas, this is the place to put really different, creative, and expansive ideas. The more people try them, the more interesting they will become!
</p>
<p>
    Great ideas are added all the time!
</p>
<div id="main-display">
    <% ideas = Idea.where(is_private: false).limit(3).order('id desc') %>
    <% ideas.sort_by{|idea| idea.name}.each do |idea| %>
        <div>
            <h4><a href="/ideas/<%= idea.id %>"><%= idea.name %></a></h4>
            <p><%= idea.description %><p>
        </div>
    <% end %>
</div>