<link rel="stylesheet" href="../public/css/styles.css">
<p>
<a href="/signup"><button style="border: none; padding: 0.5em; font-size: 1.25em; background-color: grey; opacity: 1;">Sign Up</button></a>
<a href="/login"><button style="border: none; padding: 0.5em; font-size: 1.25em; background-color: grey; opacity: 1;">Log In</button></a>
</p>