<link rel="stylesheet" href="../public/css/styles.css">
<p>
<a href="/signup"><button class="input-submit">Sign Up</button></a>
<a href="/login"><button class="input-submit">Log In</button></a>
</p>