<p>
    <% if flash[:msg] %>
        <span class="flash-msg"><%= flash[:msg] %></span>
    <% end %>
</p>
<p>
    As developers of all experience levels, we have all dealt with a "blank page" problem. You know the one - you need an idea for your project, or a hackathon, or a side project so you can practice your skill with a new language. You need one, but you just can't think of one!
</p>
<p>
    Idea Pool is your resource for ideas - your own or those others have shared. You can use this as a storage location for your own ideas, browse projects based on your own or others' ideas, or grab a shared idea for your own use.
</p>
<p>
    Great ideas are added all the time!
</p>
<p>
    <% idea = Idea.last %>
    How about . . . <a href="/ideas/<%= idea.id %>"><%= idea.name %></a>? Or <a href="/ideas">view all ideas</a>.
<p>