<!DOCTYPE html>
<html>
    <head>
        <title>Idea Pool</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <main>
            <header>
                <div id="account-header">
                    <p>
                        <% if Helpers.is_logged_in?(session) %>
                            Logged in as <%= Helpers.current_user(session).full_name %>
                        <% else %>
                            Welcome, Guest
                        <% end %>
                    </p>
                </div>
                <div id="app-header">
                    <div>
                        <p class="hero-header">Idea Pool . . . take a dip and find an idea.</p>
                    </div>
                    <div>
                        <% if !Helpers.is_logged_in?(session) %>
                            <a href="/signup"><button class="nav-submit">Sign Up</button></a>
                            <a href="/login"><button class="nav-submit">Log In</button></a>
                        <% else %>
                            <a href="/users/<%= Helpers.current_user(session).id %>"><button class="nav-submit">Account</button></a>
                            <a href="/logout"><button class="nav-submit">Log Out</button></a>
                        <% end %>
                        <a href="/"><button class="nav-submit">Home</button></a>
                    </div>
                </div>
            </header>

            <section id="app-content">
                <div>
                    <%= yield %>
                </div>
            </section>

            <footer>
                <p>For more information or to contribute, see the <a href="https://github.com/kristenkinnearohlmann/idea-pool">GitHub repo</a> for this project</p>
            </footer>
        </main>
    </body>
</html>